
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            background-color: #043873; 
            color: white;
            min-height: 100vh;
        }

        
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 80px;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        nav ul {
            display: flex;
            list-style: none;
            gap: 30px;
        }

        .buttons {
            display: flex;
            gap: 15px;
        }

        .btn-login {
            background-color: #FFE492; 
            border: none;
            padding: 10px 30px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
        }

        .btn-blue {
            background-color: #4F9CF9;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
        }

        
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 80px;
            max-width: 1400px;
            margin: 0 auto;
        }

        .hero-text {
            max-width: 50%;
        }

        .hero-text h1 {
            font-size: 55px;
            margin-bottom: 20px;
            line-height: 1.1;
        }

        .hero-text p {
            font-size: 18px;
            margin-bottom: 30px;
            opacity: 0.9;
        }

        
        .hero-square {
            width: 550px;           
            height: 400px;          
            background-color: #bad9f7; 
            border-radius: 5px;     
            flex-shrink: 0;         
            border-radius: 0;

        }

        
        .btn-large {
        background-color: #4F9CF9;
        color: white;
        border: none;
        padding: 15px 35px;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
    }
